.mobileLoginRafiki1 {
  width: 300px;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
}
.illustration {  
  /* width: 712px;  */
  width: 300px;
  height: 300px;      
}
.frame,
.illustration,
.login1 {
}
.frame {  
  width: 142px;
  height: 37px;
  overflow: hidden;
}
.login1 {  
  font-size: 61px;
  letter-spacing: 0.3px;
  line-height: 36.83px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 157px;
  height: 128px;
}
.starsharpIcon,
.vectorIcon {
  width: 48.7px;
  height: 36.7px;
}
.vectorIcon {
  z-index: 10;
}
.starsharpIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer,
.icon {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer {
  height: 2px;
  align-items: center;
  padding: 0 16.239343643188477px 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.placeholder {
  flex: 1;
  letter-spacing: 0.3px;
  line-height: 48.72px;
  display: none;
  z-index: 2;
}
.removeredeyefilledIcon {
  width: 48.7px;
  height: 48.7px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer {
  margin: 0 !important;  
  height: 2px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}
.examplegmailcom {
  flex: 1;
  font-size: 17.3px;
  letter-spacing: 0.3px;
  line-height: 42.72px;
  font-family: var(--font-cairo);
  z-index: 4;
  outline: none;
  border: none;
  border-bottom: 1px solid blue;
  width: 528px;
  padding-left: 43px;  
  color: black;
}
.examplegmailcom:focus-visible{
  outline: none;

}

.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 48.7180290222168px;
  min-height: 48.7180290222168px;
  font-size: 32.48px;
  color: var(--text-disabled);
  font-family: var(--font-roboto);
}
.underlineIcon {
  width: 457.1px;
  height: 2.5px;
}
.email,
.frame1 {
}
.email {  
  width: 676.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.18px;
}
.frame1 {  
  width: 875.5px;
  height: 98.8px;
  overflow: hidden;
}
.password {
  letter-spacing: 0.3px;
  line-height: 24.36px;
}
.iconlockround {
  width: 48.7px;
  height: 33.7px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 10;
  top:6px;
  left:-7px
}
.adornEndContainer1,
.div {
  margin: 0 !important;
}
.adornEndContainer1 {  
  height: 2px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}
.div {  
  font-size: 28px;
  letter-spacing: 0.3px;
  line-height: 48.72px;
  font-family: var(--font-cairo);
  color: rgba(34, 40, 49, 0.36);
  display: inline-block;
  width: 588.7px;
  height: 48.7px;
  flex-shrink: 0;
  z-index: 4;
}
.underline {
  border-top: 2px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 462.4px;
  height: 2px;
}
.frame2,
.input {
  height: 97.4px;
}
.input {  
  width: 676.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.18px;
}
.frame2 {  
  width: 875.5px;
  overflow: hidden;
}
.forgotPassword {
  letter-spacing: 3.03px;
  line-height: 36.83px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.forgotPass {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame3 {  
  width: 470px;
  height: 37px;
  font-size: 15.2px;
  color: var(--color-black);
}
.frame3,
.frame4,
.googleSignIn {
  overflow: hidden;
}
.googleSignIn {  
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frame4 {  
  width: 76px;
  height: 62px;
}
.maskedIcon {
  display: none;
}
.button1 {
  letter-spacing: 2px;
  line-height: 36.83px;
  text-transform: uppercase;
}
.base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11.33px;
}
.button,
.frame5 {
}
.button {  
  border-radius: 12px;
  background-color: #222831;
  border: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 11.331049919128418px 60.62702178955078px;
}
.frame5 {  
  width: 75vh;
  height: 75px;
  overflow: hidden;
  font-size: 24px;
  color: #eee;
}
.login {
  border-radius: 52px;
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 24.26px;
  color: var(--color-darkslategray);
  font-family: var(--font-cairo);
}

.inputstyle{
  border: none;
}
